* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 223, 223);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 50px;
}

.h1_paragraph {
  border: 2px solid black;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

#your-name {
  border: 5px solid rgb(175, 171, 171);
  background-color: rgb(141, 141, 102);
  width: 400px;
  padding: 25px;
  margin-top: 35px;
}

input,
button {
  padding: 10px;
  font-size: 1rem;
}

a {
  background-color: yellowgreen;
}

#your-name h2 {
  font-size: 28px;
  color: darkred;
}

img {
  width: 300px;
}
